{% extends 'proofing/base.html' %}
{% import "macros/components.html" as mc %}
{% import "macros/proofing.html" as m %}
{% import "macros/icons.html" as i %}


{% macro text_li(text) %}
<li data-key="{{ text.id }}"
    data-title="{{ text.title }}"
    data-created="{{ text.created_at or '' }}"
    x-show="displayed.has('{{ text.id }}')"
    class="py-3 border-b border-gray-200">
  <div class="flex justify-between items-center">
    <div>
      <a href="{{ url_for('texts.text', slug=text.slug) }}" class="text-sky-900 hover:underline font-medium">
        {{ text.title }}
      </a>
      {% if text.is_p0 %}
        {{ i.unproofed_text_icon() }}
      {% endif %}
      <div class="mt-2 text-xs">
        <a href="{{ url_for('proofing.tagging.text', text_slug=text.slug) }}" class="text-sky-900 hover:underline">{{ _('Tags') }}</a>
        <span class="text-slate-300">|</span>
        <a href="{{ url_for('texts.validate_text', slug=text.slug) }}" class="text-sky-900 hover:underline">{{ _('Report') }}</a>
      </div>
    </div>
    <div class="text-sm text-slate-500 text-right">
      {% if text.project %}
        <div>
          <a href="{{ url_for('proofing.project.summary', slug=text.project.slug) }}" class="hover:underline">{{ text.project.display_title }}</a>
        </div>
      {% endif %}
      {% if text.created_at %}
        <div class="text-xs mt-2">{{ text.created_at.strftime('%Y-%m-%d') }}</div>
      {% endif %}
    </div>
  </div>
</li>
{% endmacro %}


{% macro text_list(texts, placeholder) %}
<div x-data="sortableList('title')">

{{ m.list_toolbar(placeholder, [('title', _('Title')), ('created', _('Created'))]) }}

<ul x-ref="list">
  {% for text in texts %}
  {{ text_li(text) }}
  {% endfor %}
</ul>
</div>
{% endmacro %}


{% block title %}{{ mc.title(_('Published Texts')) }}{% endblock %}

{% block content %}
{{ m.header(_('Texts')) }}
{{ m.proofing_tabs('texts', current_user) }}

{% if texts_with_project or texts_without_project %}
{{ i.i_exclamation_circle() }}

{% if texts_with_project %}
<h2 class="font-bold text-xl mt-6 mb-2">{{ _('Texts from Ambuda') }}</h2>
{{ text_list(texts_with_project, _('Search for a text title')) }}
{% endif %}

{% if texts_without_project %}
<h2 class="font-bold text-xl mt-10 mb-2">{{ _('Texts from external sources') }}</h2>
{{ text_list(texts_without_project, _('Search for a text title')) }}
{% endif %}

{% else %}
<div class="prose">
  <p>{{ _('No texts have been published yet.') }}</p>
</div>
{% endif %}

{% endblock %}
